# Data Summary #

In [3]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv("/Users/benchen/NeuralHub/DRKM_Mouse_Jun25/young_cohort_execution_df.csv")
print(df.columns)

Index(['Mouse', 'Age_Groups', 'Trial', 'blockTrial', '0_ITI',
       '0_trialDuration', 'Decision', '1_Port', '1_Reward', '1_ITI',
       '1_trialDuration', '2_Port', '2_Reward', '2_ITI', '2_trialDuration',
       '3_Port', '3_Reward', '3_ITI', '3_trialDuration', 'highPort', 'Reward',
       'Mouse ID', 'Session ID', 'Condition', 'Switch', 'laser_stim', 'Target',
       'Block ID', 'blockLength', 'session_pos', 'retrain', 'DOB', 'Sex',
       'Start_Age', 'Cohort_Name', 'Trial_based', 'Fibers',
       'Dreadds_During_Training', 'Viral_expression', 'Genotype',
       'Date_of_Surgery', 'Date', 'Current_age', 'Session_Number',
       'block_pos_rev'],
      dtype='object')

In [ ]:
# Assuming data_tmp is your dataframe with trial-level data
# Create an empty list to store each session's summary data
summary_data = []

data_df = df[df['Condition'] == '80-20']  # Filter for retrain == 0

In [33]:
#Visualize data_df
data_df[['Reward','1_Reward','2_Reward']]

       Reward  1_Reward  2_Reward
0           0         1         1
1           0         0         1
2           1         0         0
3           1         1         0
4           1         1         1
...       ...       ...       ...
90639       1         1         1
90640       1         1         1
90641       1         1         1
90642       1         1         1
90643       1         1         1

[90644 rows x 3 columns]

In [8]:
unique_sessions = data_df.Session_Number.unique()

print(unique_sessions)

[ 5  6  7  8  9 10]

In [ ]:
#Compute summary statistics per session
num_trials = len(session_data)

In [ ]:
#New column with mouse and session number specified
data_df['Session_ID'] = data_df.Mouse.astype(str) + "_Session" + data_df['Session_Number'].astype(str)

print(data_df.Session_ID.head())

0    YC1N_Session5
1    YC1N_Session5
2    YC1N_Session5
3    YC1N_Session5
4    YC1N_Session5
Name: Session_ID, dtype: object

In [19]:
#Identifying unique Mouse and Session combination in the data_df column
unique_mouse_sessions = data_df.Session_ID.unique()
print(unique_mouse_sessions)

['YC1N_Session5' 'YC1N_Session6' 'YC1N_Session7' 'YC1N_Session8'
 'YC1N_Session9' 'YC1N_Session10' 'YC1L_Session5' 'YC1L_Session6'
 'YC1L_Session7' 'YC1L_Session8' 'YC1L_Session9' 'YC1R_Session5'
 'YC1R_Session6' 'YC1R_Session7' 'YC1R_Session8' 'YC1R_Session9'
 'YC1R_Session10' 'YC1B_Session5' 'YC1B_Session6' 'YC1B_Session7'
 'YC1B_Session8' 'YC1B_Session9' 'YC1B_Session10' 'YC2N_Session5'
 'YC2N_Session6' 'YC2N_Session7' 'YC2N_Session8' 'YC2N_Session9'
 'YC2N_Session10' 'YC2L_Session5' 'YC2L_Session6' 'YC2L_Session7'
 'YC2L_Session8' 'YC2L_Session9' 'YC2L_Session10' 'YC2R_Session5'
 'YC2R_Session6' 'YC2R_Session7' 'YC2R_Session8' 'YC2R_Session9'
 'YC2R_Session10' 'YC2B_Session5' 'YC2B_Session6' 'YC2B_Session7'
 'YC2B_Session8' 'YC2B_Session9' 'YC2B_Session10' 'YC3N_Session5'
 'YC3N_Session6' 'YC3N_Session7' 'YC3N_Session8' 'YC3N_Session9'
 'YC3N_Session10' 'YC3L_Session5' 'YC3L_Session6' 'YC3L_Session7'
 'YC3L_Session8' 'YC3L_Session9' 'YC3L_Session10' 'YC3BLL_Session5'
 'YC3BLL_Session6' 'YC3BLL_Session7' 'YC3BLL_Session8' 'YC3BLL_Session9'
 'YC3BLL_Session10' 'YC3B_Session5' 'YC3B_Session6' 'YC3B_Session7'
 'YC3B_Session8' 'YC3B_Session9' 'YC3B_Session10' 'YC4N_Session5'
 'YC4N_Session6' 'YC4N_Session7' 'YC4N_Session8' 'YC4N_Session9'
 'YC4N_Session10' 'YC4L_Session5' 'YC4L_Session6' 'YC4L_Session7'
 'YC4L_Session8' 'YC4L_Session9' 'YC4L_Session10' 'YC4R_Session5'
 'YC4R_Session6' 'YC4R_Session7' 'YC4R_Session8' 'YC4R_Session9'
 'YC4R_Session10' 'YC4B_Session5' 'YC4B_Session6' 'YC4B_Session7'
 'YC4B_Session8' 'YC4B_Session9' 'YC4B_Session10' 'YC5N_Session5'
 'YC5N_Session6' 'YC5N_Session7' 'YC5N_Session8' 'YC5N_Session9'
 'YC5N_Session10' 'YC5L_Session5' 'YC5L_Session6' 'YC5L_Session7'
 'YC5L_Session8' 'YC5L_Session9' 'YC5L_Session10' 'YC5R_Session5'
 'YC5R_Session6' 'YC5R_Session7' 'YC5R_Session8' 'YC5R_Session9'
 'YC5B_Session5' 'YC5B_Session6' 'YC5B_Session7' 'YC5B_Session8'
 'YC5B_Session9' 'YC5B_Session10' 'YC6N_Session5' 'YC6N_Session6'
 'YC6N_Session7' 'YC6N_Session8' 'YC6N_Session9' 'YC6N_Session10'
 'YC6L_Session5' 'YC6L_Session6' 'YC6L_Session7' 'YC6L_Session8'
 'YC6L_Session9' 'YC6L_Session10' 'YC6R_Session5' 'YC6R_Session6'
 'YC6R_Session7' 'YC6R_Session8' 'YC6R_Session9' 'YC6B_Session5'
 'YC6B_Session6' 'YC6B_Session7' 'YC6B_Session8' 'YC6B_Session9'
 'YC6B_Session10' 'YC7N_Session5' 'YC7N_Session6' 'YC7N_Session7'
 'YC7N_Session8' 'YC7N_Session9' 'YC7N_Session10' 'YC7L_Session5'
 'YC7L_Session6' 'YC7L_Session7' 'YC7L_Session8' 'YC7L_Session9'
 'YC7L_Session10' 'YC7R_Session5' 'YC7R_Session6' 'YC7R_Session7'
 'YC7R_Session8' 'YC7R_Session9' 'YC7R_Session10' 'YC7B_Session5'
 'YC7B_Session6' 'YC7B_Session7' 'YC7B_Session8' 'YC7B_Session9'
 'YC7B_Session10' 'YC8N_Session5' 'YC8N_Session6' 'YC8N_Session7'
 'YC8N_Session8' 'YC8N_Session9' 'YC8N_Session10' 'YC8L_Session5'
 'YC8L_Session6' 'YC8L_Session7' 'YC8L_Session8' 'YC8L_Session9'
 'YC8L_Session10' 'YC8R_Session5' 'YC8R_Session6' 'YC8R_Session7'
 'YC8R_Session8' 'YC8R_Session9' 'YC8R_Session10' 'YC8B_Session5'
 'YC8B_Session6' 'YC8B_Session7' 'YC8B_Session8' 'YC8B_Session9'
 'YC8B_Session10']

In [30]:
#Initialize summary_data list
summary_data = []


#calculate metrics for each unique mouse session
for session_id in unique_mouse_sessions:

    #Slicing the dataframe, so that the portion for the specific mouse/session is obtained
    session_data = data_df[data_df['Session_ID'] == session_id]
    
    #Calculating the statistics of the dataframe
    num_trials = len(session_data)
    num_reward = session_data['Reward'].sum()
    num_switch = session_data["Switch"].sum()

    reward_rate = num_reward / num_trials
    switch_rate = num_switch / num_trials
    
    mean_trial_duration = session_data['0_trialDuration'].mean()
    mean_ITI = session_data['0_ITI'].mean()

    sex = session_data['Sex'].unique()[0]

    age_at_recording = session_data['Current_age'].unique()[0]
    age_group = session_data['Age_Groups'].unique()[0]

    session_summary = {
        'Session': session_id,
        'Sex': sex,
        'NumTrials': num_trials,
        'NumRewards': num_reward,
        'NumSwitches': num_switch,
        'RewardRate': reward_rate,
        'SwitchRate': switch_rate,
        'MeanTrialDuration': mean_trial_duration, 
        'MeanITI': mean_ITI,
        'Age_at_Recording': age_at_recording,
        'Age_Groups': age_group

    }
    
    summary_data.append(session_summary)

summary_df = pd.DataFrame(summary_data)

summary_df

,Session,Sex,NumTrials,NumRewards,NumSwitches,RewardRate,SwitchRate,MeanTrialDuration,MeanITI,Age_at_Recording,Age_Groups
0,YC1N_Session5,female,487,301,69,0.618070,0.141684,0.355977,2.066589,49,0
1,YC1N_Session6,female,468,280,49,0.598291,0.104701,0.345192,2.375543,50,0
2,YC1N_Session7,female,495,282,62,0.569697,0.125253,0.331806,2.037683,51,0
3,YC1N_Session8,female,498,289,53,0.580321,0.106426,0.374554,2.115400,52,0
4,YC1N_Session9,female,507,305,46,0.601578,0.090730,0.341838,2.325314,53,0
...,...,...,...,...,...,...,...,...,...,...,...
184,YC8B_Session6,male,484,283,64,0.584711,0.132231,0.384874,2.394568,45,0
185,YC8B_Session7,male,544,347,57,0.637868,0.104779,0.344857,2.111094,46,0
186,YC8B_Session8,male,578,346,60,0.598616,0.103806,0.353161,2.120507,49,0
187,YC8B_Session9,male,709,386,52,0.544429,0.073343,0.316670,2.033258,50,0
188,YC8B_Session10,male,525,317,73,0.603810,0.139048,0.348450,2.645404,51,0

.fillna(0) is a pandas method that replaces all NaN in a dataframe with 0

In [41]:
#Initialize lose_switch count column
data_df['lose_switch'] = 0
data_df['win-stay'] = 0

#Initialize previous Reward column (Shift 'Reward' column down by 1 unit)
data_df['Prev_Reward'] = data_df['Reward'].shift(1).fillna(0).astype(int)

#data_df['Prev_Reward'] = data_df['Prev_Reward'].replace({1.0: 1, 0.0: 0})


print(data_df[['Reward', 'Prev_Reward']].head())

   Reward  Prev_Reward
0       0            0
1       0            0
2       1            0
3       1            1
4       1            1

In [ ]:
#Calculate the number and percentage of "Win-Stay, Loss-Switch" in each session